---
- hosts: nftwalls
#  become: true
  roles:
          - imp1sh.ansible_nftwallcollection.ansible_sysctl
          - imp1sh.ansible_nftwallcollection.ansible_dnsmasq
          - imp1sh.ansible_nftwallcollection.ansible_netconfig
          - imp1sh.ansible_nftwallcollection.ansible_nftables
