---
# kad is short for keealived
# notification feature not working yet, because there is no MTA
kad_notificationemails:
  - "user@example.com"
kad_vrrpinstances:
# name will be used as vrrp instance
  - name: "WAN"
    # make sure to use the hostnames that are being used in ansible
    master: "alpine1.demo.junicast.de"
    slave: "alpine2.demo.junicast.de"
    masterif: "eth0"
    slaveif: "eth0"
    routerid: 51
    priorityanchor: 100
    advertint: 1
    authpass: "asdf1234"
    vips:
      - 192.168.200.4
  - name: "WAN6"
    master: "alpine1.demo.junicast.de"
    slave: "alpine2.demo.junicast.de"
    masterif: "eth0"
    slaveif: "eth0"
    routerid: 52
    priorityanchor: 100
    advertint: 1
    authpass: "1234asdf"
    vips:
      - 2001:abc:7e68::4
  - name: "LAN"
    master: "alpine1.demo.junicast.de"
    slave: "alpine2.demo.junicast.de"
    masterif: "eth1"
    slaveif: "eth1"
    routerid: 53
    priorityanchor: 100
    advertint: 1
    authpass: "4321fdsa"
    vips:
      - 172.16.33.3
  - name: "LAN6"
    master: "alpine1.demo.junicast.de"
    slave: "alpine2.demo.junicast.de"
    masterif: "eth1"
    slaveif: "eth1"
    routerid: 54
    priorityanchor: 100
    advertint: 1
    authpass: "fdsa4321"
    vips:
      - 2001:abc:7e68:1000::3

# when I use dnsmasq I don't need radvd
#radvd_ifs:
#- if: "eth1"
#    prefixes:
#      - prefix: "2001:1af:4423:1000::/64"

# mandatory and key component
# choose mode, which is typically firewall, since this is a firewall solution
nftablesmode: "firewall"
# choose between drop or reject
nftablespolicy: "reject"
# choose if you would like to log rejected or dropped packets
nftableslogging: true
# this setting defines what interfaces outgoing connections will be masqueraded
# this setting will assure connection tracking
nftables_masks:
  - upif: "eth0"
    downif: "eth1"
# add more upif downif items if you need them
# optional attribute for nftablesopenhost so that the rule get placed into its dedicated input chain
nftablesopengroup:
  nftwalls:
  - family: 46
    inif: "eth2"
    proto: "tcpudp"
  - family: 46
    proto: "112"
    comment: "Allow VRRP an all interfaces for both IPv4 and IPv6"
  - dport: 67
    inif: "eth1"
    family: 4
    proto: "udp"
    comment: "Accept DHCP requests"
  - dport: 53
    inif: "eth1"
    family: 46
    proto: "tcpudp"
    comment: "DNS Allow tcp incoming on eth0"
  - dport: 547
    inif: "eth1"
    family: 6
    proto: "udp"
    comment: "Allow DHCPv6"
  - dport: 22
    inif: "eth0"
    family: 6
    saddr: "2a00:1234:4321:10::/64"
    proto: "tcp"
    comment: "Allow SSH from Home"
  - dport: 22
    inif: "eth0"
    family: 6
    saddr: "2001:abc:234:7337::/64"
    proto: "tcp"
    comment: "Allow SSH from insecure"
  - dport: 22
    inif: "eth0"
    family: 6
    saddr: "{{ nfvars['nets']['N6_mynet1']['value'] }}"
nftables_forward:
  - inif: "eth0"
    daddr: "2001:asdf:123:1000::/64"
    saddr: "2001:faa:b33:1::/64"
    dport: "22"
    proto: "tcpudp"
    family: 6
    outif: "eth1"
    comment: "Allow SSH to client3 from net1"
nftables_dnat:
  - dport: 801
    ip: "172.16.33.16"
    proto: "tcpudp"
    inif: "eth0"
    outif: "eth1"
    comment: "Forward Port 801 to host 17"
  - dport: 4431
    ip: "172.16.33.16"
    proto: "tcp"
    inif: "eth0"
    outif: "eth1"
    comment: "Forward Port 4431 to host 17"

# dnsmasq settings
# later also support different solutions but for starters dnsmasq is very nice because it solves multiple tasks in one software just like it does in OpenWrt, yet it is very flexible and feature rich
use_dnsmasq: true
dnsmasq_dnsport: 53
dnsmasq_domainneeded: true
dnsmasq_boguspriv: false
dnsmasq_dnssec: false
dnsmasq_dnssec_checkunsigned: false
dnsmasq_localservice: true
dnsmasq_dhcpenable: true
dnsmasq_dhcp4ifs:
  - interface: "eth1"
    ranges:
    - start: "172.16.33.10"
      end: "172.16.33.20"
      leasetime: "24h"
    - start: "172.16.33.100"
      end: "172.16.33.120"
# options like in pfSense: disabled, Router Only, Unmanaged, Managed, Assisted, Stateless DHCP
# https://docs.netgate.com/pfsense/en/latest/book/services/ipv6-dhcp-server-and-router-advertisements.html
dnsmasq_ipv6mode: "managed"
dnsmasq_dhcpifs:
  - interface: "eth1"
    start: "::1000"
    end: "::2000"
dnsmasq_options:
# router
  - "3,172.16.33.3"
# nameserver
  - "6,172.16.33.3"
