---
# mandatory for nftables anti-lockout rule
ansibleip6: << enter IP your ansible host connects to the firewall >>
# optional
# ansibleip: 

# mandatory since a firewall needs network interfaces
# give them a name for better organization
# accept_ra is being used in ansible_sysctl to set kernel flags right
# method [static|dhcp|manual]
# method6 [static|slaac]
netinterfaces:
  - interface: "eth0"
    name: "WAN uplink"
    accept_ra: "0"
    # accept_ra: "2" if you want an additional auto IP on top of static
    method: "static"
    ip: "192.168.200.2/28"
    gateway: "192.168.200.1"
    method6: "static"
    ip6: "2001:abc:7e68::2/64"
    gateway6: "2001:abc:7e68::1"
  - interface: "eth1"
    name: "LAN1 downlink 1"
    accept_ra: "0"
    method: "static"
    ip: "172.16.33.1/24"
    method6: "static"
    ip6: "2001:abc:7e68:1000::1/64"
  - interface: "eth2"
    name: "Dedicated HA Sync link"
    accept_ra: "0"
    method: "static"
    ip: "172.16.49.1/29"
    method6: "slaac"
